<h3>Equipment</h3>
<ul>
    <li *ngFor = "let name of equipments; let i = index">
        <span *ngIf="equipmentBeingEdited !== name; else elseBlock">
            <span (click)="edit(name)" class="editable-text">{{name}}</span>
            <button (click)="remove(name)">remove</button>
        </span>

      <ng-template #elseBlock>
        <!-- edit state of equipment -->
        <input #updatedName (keyup.enter)="save(updatedName.value, i, equipments)" value="{{name}}"/>
        <button (click)="save(updatedName.value, i, equipments)">save</button>
      </ng-template>
    </li>
</ul>
<span (click)="edit(name)" class="editable-text">{{name}}</span>
<input #Equipment type="text"/>
<button (click)="add(Equipment.value)">Add</button>